@import '../../sass/colors';
@import '../../sass/fonts';

.homeview {
  &__gradient-bg {
    margin: 1rem 0;

    background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.299),
      rgba(0, 0, 0, 0.556)
    );
  }
  &__recommended-text,
  &__trending-text {
    padding-left: 1rem;
    @include QuintessentialFont;
    letter-spacing: 0.06rem;
    font-size: 25px;
  }
}
