@import '../../sass/colors';

.hamburger-menu {
  user-select: none;
  display: inline-block;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.1s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &__line {
    border: 1px solid $white;
    box-shadow: 1px 1px 1px $white;
    display: block;
    width: 100%;
    background-color: $white;
    position: absolute;
    left: 0;
    transition: all 0.1s ease-in-out;
    border-radius: 10px;

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }

  &--open {
    .hamburger-menu__line {
      &:first-child {
        transform: rotate(45deg);
        top: 45%;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        transform: rotate(-45deg);
        bottom: 45%;
      }
    }
  }
}
