@import '../../sass/colors';
@import '../../sass/fonts';

.navigation {
  position: absolute;
  color: $white;
  top: 3.7rem;
  width: 50vw;
  right: 0;
  z-index: 4;
  background-color: $black;
  max-width: 600px;
  border-radius: 0px 0px 0px 10px;

  // Smooth Effect //
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease;
  transform: translateY(0);

  &.inactive {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    transform: translateY(-30px);
  }
  // ------------ //

  &__links {
    list-style-type: none;
  }

  &__link {
    text-align: center;
    font-size: 1.1rem;
    padding: 1rem;
    text-transform: uppercase;

    &__favorite-number {
      color: rgb(255, 255, 92);
      @include defaultFont;
      font-size: 1.1rem;
    }

    &:not(:first-child) {
      border-top: 1px solid rgb(45, 45, 45);
    }

    &:last-child {
      border-radius: 0px 0px 0px 10px;
    }

    &:hover {
      background-color: rgb(41, 41, 41);
      cursor: pointer;
    }
  }
}
