.movie-view__add-button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  backface-visibility: hidden;
  background-color: rgb(177, 31, 36);
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 50%;
  margin: 0.2rem;
}
@media screen and (max-width: 900px) {
  .movie-view__add-button {
    margin-left: 0rem;
  }
}
.movie-view__add-button:disabled {
  cursor: default;
}
.movie-view__add-button:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0, rgba(50, 151, 211, 0.3) 0 0 0 4px;
}
.movie-view__delete-button {
  margin: 0.2rem;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  backface-visibility: hidden;
  background-color: rgb(228, 30, 38);
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 50%;
}
@media screen and (max-width: 900px) {
  .movie-view__delete-button {
    margin-left: 0rem;
  }
}
.movie-view__delete-button:disabled {
  cursor: default;
}
.movie-view__delete-button:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0, rgba(50, 151, 211, 0.3) 0 0 0 4px;
}
.movie-view__card {
  padding: 20px;
  margin: auto;
  max-width: 80rem;
  box-shadow: 0px 4px 10px rgba(134, 134, 134, 0.5);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
}
.movie-view__card__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 900px) {
  .movie-view__card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
}
.movie-view__card__container__year p {
  margin-left: 10rem;
  padding: 0;
}
.movie-view__card__container__thumbnail {
  grid-column: 1/2;
}
@media screen and (max-width: 900px) {
  .movie-view__card__container__thumbnail {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}
.movie-view__card__container__thumbnailIMG {
  max-width: 30rem;
}
.movie-view__card__container__title {
  font-size: 3rem;
}
@media screen and (max-width: 900px) {
  .movie-view__card__container__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
.movie-view__card__container__main-info {
  margin: 1rem;
  font-size: 1.3rem;
}
@media screen and (max-width: 900px) {
  .movie-view__card__container__main-info {
    font-size: 1rem;
    margin-left: 0;
  }
}
.movie-view__card__container__info {
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2rem;
}
@media screen and (max-width: 900px) {
  .movie-view__card__container__info {
    margin-left: 0;
  }
}
.movie-view__card__container__info p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
  margin: 1rem;
  margin-left: 0;
}/*# sourceMappingURL=MovieView.css.map */