@import '../../sass/colors';
$medium: 850px;

.movie-view {
  &__add-and-delete-button {
    background-color: $logoDarkRed;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
      rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
    color: $white;
    font-size: 100%;
    height: 3rem;
    margin: 12px 0 0;
    padding: 0 25px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 30%;
    margin: 0.2rem;

    &:hover {
      cursor: pointer;
    }

    @media screen and (max-width: $medium) {
      margin-left: 0rem;
      width: 100%;
    }
  }

  &__card {
    padding: 20px;
    margin: auto;
    max-width: 80rem;
    box-shadow: 0px 4px 10px rgba(134, 134, 134, 0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;

    &__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @media screen and (max-width: $medium) {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
      }
      &__year p {
        margin-left: 10rem;
        padding: 0;
      }
      &__thumbnail {
        grid-column: 1/2;
        @media screen and (max-width: $medium) {
          display: flex;
          flex-direction: column;
          max-width: 100%;
        }
      }
      &__thumbnailIMG {
        max-width: 52vh;
      }
      &__title {
        font-size: 3rem;
        @media screen and (max-width: $medium) {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }
      }
      &__main-info {
        margin: 1rem;
        font-size: 1.3rem;
        @media screen and (max-width: $medium) {
          font-size: 1rem;
          margin-left: 0;
        }
      }
      &__info {
        grid-column: 2/4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 2rem;
        @media screen and (max-width: $medium) {
          margin-left: 0;
        }
      }
      &__info p {
        font-size: 1rem;
        margin-bottom: 1.3rem;
        margin: 1rem;
        margin-left: 0;
      }
    }
  }
}
