@import '../../sass/colors';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: $black;

  &__logo {
    width: 100px;
    transition: 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.03);
    }
  }
}
