.favoritePNG {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 1.8rem;
  z-index: 3;
  transition: 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.blur-container {
  position: relative;
  background-color: #ffffff;
  z-index: 1;
  filter: blur(3px);
}

.blur-container::before {
  content: '';
  border-radius: 50px;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 55px;
  height: 55px;
  background-color: inherit;
}

.rec-card {
  position: relative;
  grid-row: 1;
}

.slider-wrapper-t .image-list-t {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(1, 1fr);
  font-size: 0;
  gap: 1rem;
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: 2rem;
  max-height: 22rem;
}

.slider-wrapper-t .image-list-t::-webkit-scrollbar-t {
  display: none;
}

.slider-wrapper-t .image-list-t .image-item-t {
  max-width: 20rem;
  max-height: 20rem;
  object-fit: cover;
  grid-row: 1;

  &:hover {
    cursor: pointer;
    filter: brightness(120%);
  }
}

.megabody-t {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 2px solid black;
  margin: 0.5rem;
  border-radius: 6px;
}

.container-t {
  max-width: 1200px;
  width: 95%;
}

.container-t .slider-scrollbar-t {
  height: 2rem;
  width: 100%;

  display: flex;
  align-items: center;
}

.slider-scrollbar-t .scrollbar-track-t {
  height: 4px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}

.slider-scrollbar-t:hover .scrollbar-track-t {
  height: 4px;
}

.slider-scrollbar-t .scrollbar-thumb-t:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar-t .scrollbar-thumb-t {
  position: absolute;
  height: 4px;
  width: 50%;
  background: #ccc;
  background: #000;
  height: 100%;
  border-radius: inherit;
  cursor: grab;
}

.slider-scrollbar-t .scrollbar-thumb-t::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

.slider-wrapper-t {
  position: relative;
}

.slider-wrapper-t .slide-button-t {
  position: absolute;
  height: 4rem;
  width: 4rem;
  color: #fff;
  background: red;
  border-radius: 100%;
  border-style: none;
  outline: none;
  font-size: 3rem;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}

.slider-wrapper-t .slide-button-t#prev-slide {
  left: 1.5rem;
}

.slider-wrapper-t .slide-button-t#next-slide {
  right: 1.5rem;
}

.slider-wrapper-t .slide-button-t:hover {
  background-color: rgb(255, 121, 121);
}
